
.searchBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1em;
    height: 4em;
}
.tableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: 0.5em;
}
.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tableName {
    text-align: left;
}